{% extends 'base.html.twig' %}

{% block title %}Éditer Forfait Mobile{% endblock %}

{% block body %}

<div class="container mt-4">
    <h2> Éditer un forfait mobile </h2>
    <br>
    {{ form(form) }}
</div>
{% endblock %}
