{% extends 'base.html.twig' %}

{% block title %}Mobile{% endblock %}

{% block body %}
    <h3 class="m-4"> Source</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <a href="https://www.data.gouv.fr/fr/datasets/localisations-des-points-de-mutualisation-fibre-pmz-dans-openstreetmap/" target="_blank">
                    https://www.data.gouv.fr/fr/datasets/localisations-des-points-de-mutualisation-fibre-pmz-dans-openstreetmap/
                </a>
            </div>
            <div class="col-12">
                <a href="https://www.data.gouv.fr/en/datasets/mon-reseau-mobile/" target="_blank">
                    https://www.data.gouv.fr/en/datasets/mon-reseau-mobile/
                </a>
            </div>
            <p>Les autres source sont détailler dans chaque donner dans la base</p>
        </div>
    </div>
{% endblock %}
