{% extends 'base.html.twig' %}

{% block title %}Éditer Une Carte{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2> Éditer une carte </h2>
        <br>
        {{ form(form) }}
    </div>
{% endblock %}